@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kavoon&display=swap');

:root {
    --teal: #4ca7c0;
    --purple: #484fb7;
    --lavender: #6b8fe7;
    --yellow: #e9bb57;
    --pink: #d9526f;
    --darkgray: #1e1e1e;
    --white: #fff;
}

body {
    font-family: "Inter";
    background-color: var(--purple);
}

#navh2 {
    font-family: "Kavoon";
    font-size: 1.5em;
    background-color: var(--yellow);
    border-radius: 0 0 20px 20px;
    position: fixed;
    top: 0px;
    right: 0px;
    padding: 13px;
}

h1 {
    font-size: 3em;
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 1.5em;
}

h4 {
    font-size: 1.15em;
}

main {
    background-color: var(--purple);
    border-radius: 20px;
    padding: 13px;
}

header {
    background-color: var(--lavender);
    padding: 13px;
    border-radius: 0 0 20px 20px;
    color: var(--white);
    text-align: center;
}

#subheading {
    background-color: var(--pink);
    height: 60px;
    padding: 13px;
    border-radius: 0 0 20px 20px;
    color: var(--white);
    width: 85%;
    text-align: center;
    margin: 0 auto;
}

nav a {
    text-decoration: none;
}

nav ul {
    list-style: none;
}

/* Fonts
Add to your CSS Under Imported Fonts
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kavoon&display=swap');
H1, H2
Kavoon
All other text
Inter
H1
3em
NAV H2
1.5em
H2
2em
H3
1.5em
H4
1.15em
Colors
Teal :#4CA7C0
Purple: #484FB7
Lavender: #6B8FE7
Yellow: #E9BB57; 
Pink:#D9526F;
Dark-gray:#1E1E1E; 
White:#ffffff; 

 */